
.shared-width-container {
    width: 60vw;
   padding-top: 20px;
    margin: 0 auto; 
}




.search-bar-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.floating-label-input {
    flex: 1;
}



@media (max-width: 1200px) {
    .shared-width-container {
        width: 60vw;
    }
}

@media (max-width: 768px) {
    .shared-width-container {
        width: 70vw;
    }
}

@media (max-width: 690) {
    .shared-width-container {
        width: 70vw;
    }
}


@media (max-width: 480px) {

    .shared-width-container {
        width: 80vw;
    }
}